@model IEnumerable<Rehberlik.Models.SqlDat.OurProject>





<!-- Portfolio Section Start -->
<div class="portfolio-one section-padding">
    <div class="container">
        <div class="portfolio-wrapper">
            <!-- Portfolio Isotop Button Start -->
            <!-- Portfolio Isotop Button End -->
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 mb-n25 grid parent-gallery">
                @foreach (var item in Model)
                {
                    <div class="col mb-25 grid-item cat2 cat4 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                        <div class="single-portfolio">
                            <a class="thumbnail" href="portfolio-details.html">
                                <img src="@item.Image" alt="Blog Image">
                            </a>
                            <div class="content">
                                <span class="subtitle">@item.Title</span>
                                <h3 class="title">
                                    <a href="portfolio-details.html">@item.Description.Substring(5,30)</a>
                                </h3>
                            </div>
                            <div class="lightbox">
                                <a class="item" href="@item.Image"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
