@model IEnumerable<Rehberlik.Models.SqlDat.Blog>






<div class="section blog-three section-padding">
    <div class="container">
        <div class="row mb-n50">
            <div class="col-lg-5 mb-50">
                <div class="section-head wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: fadeIn;">
                    <span class="subtitle">Makaleler</span>
                    <h2 class="title">Güncel Habeleri Takip Edin</h2>
                    <a href="~/Main/Bloglar" class="btn btn-style-three"> <span>Tümünü Oku</span> </a>
                </div>
            </div>
            <div class="col-lg-7 mb-50">
                <div class="blog-three-wrapper">
                    @foreach (var item in Model)
                    {
                        <div class="blog-three-single">
                            <div class="blog-three-image">
                                <a href="blog-details.html">
                                    <img src="~/Picture/@item.Image" alt="Blog">
                                </a>
                            </div>
                            <div class="blog-three-content">
                                <div class="blog-info">
                                    <ul class="meta">
                                        <li>@item.Title.Substring(0,20)</li>
                                        <li>@item.EntryDate</li>
                                    </ul>
                                    <h3 class="title">
                                        <a href="blog-details.html">@item.Description.Substring(0,50)</a>
                                    </h3>
                                    <p class="text">@item.Description.Substring(50,100) ...</p>

                                    <a href="~/Main/BlogDetay/@item.ItemNo" class="read-more"><i class="fas fa-angle-right"></i>Detay</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>