@model IEnumerable<Rehberlik.Models.SqlDat.Blog>






<div class="section blog-three section-padding">
    <div class="container">
        <div class="row mb-n50">
            <div class="col-lg-5 mb-50">
                <div class="section-head wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: fadeIn;">
                    <span class="subtitle">Our Blog</span>
                    <h2 class="title">Our Latest Updates</h2>
                    <p class="text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="blog.html" class="btn btn-style-three"> <span>View All</span> </a>
                </div>
            </div>
            <div class="col-lg-7 mb-50">
                <div class="blog-three-wrapper">
                    <div class="blog-three-single">
                        <div class="blog-three-image">
                            <a href="blog-details.html">
                                <img src="~/3/assets/images/blog/blog-3-1.png" alt="Blog">
                            </a>
                        </div>
                        <div class="blog-three-content">
                            <div class="blog-info">
                                <ul class="meta">
                                    <li>Web Development</li>
                                    <li>Apr 06, 2022</li>
                                </ul>
                                <h3 class="title">
                                    <a href="blog-details.html">Jim Morisson says when the musics over turn off the light</a>
                                </h3>
                                <p class="text">kemod tempor incididunt ut labore et dolore magna aliqunim ad minim veniam, quis nostr ...</p>

                                <a href="blog-details.html" class="read-more"><i class="fas fa-angle-right"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-three-single">
                        <div class="blog-three-image">
                            <a href="blog-details.html">
                                <img src="~/3/assets/images/blog/blog-3-2.png" alt="Blog">
                            </a>
                        </div>
                        <div class="blog-three-content">
                            <div class="blog-info">
                                <ul class="meta">
                                    <li>Web Development</li>
                                    <li>Apr 06, 2022</li>
                                </ul>
                                <h3 class="title">
                                    <a href="blog-details.html">Jim Morisson says when the musics over turn off the light</a>
                                </h3>
                                <p class="text">kemod tempor incididunt ut labore et dolore magna aliqunim ad minim veniam, quis nostr ...</p>

                                <a href="blog-details.html" class="read-more"><i class="fas fa-angle-right"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>