@model IEnumerable<Rehberlik.Models.SqlDat.OurService>

@foreach (var item in Model)
{
    <ul class="sidebar-service">
        <li><a asp-action="HizmetDetay" asp-controller="Main" asp-route-id="@item.ServiceNo">@item.Title</a></li>

    </ul>
}
