@model IEnumerable<Rehberlik.Models.SqlDat.Blog>




@foreach (var item in Model)
{
    <li>
        <a href="blog-details.html" class="image"><img src="~/Picture/@item.Image" alt="Blog Post"></a>
        <div class="content">
            <span class="subtitle">Web Design</span>
            <a class="title"  href="~/Main/BlogDetay/@item.ItemNo">@item.Title</a>
            <span class="date">@item.EntryDate</span>
        </div>
    </li>
}