@model IEnumerable<Rehberlik.Models.SqlDat.Slider>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_VitrinLayout.cshtml";
}


<!-- Slider Section End -->
<div class="slider-section">
    <div class="swiper sliderone animation-style-01">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide">
                    <div class="slingle-slider single-slider-three overlay slider-bg-image" data-bg-color="#E9EDF4" data-bg-image="~/3/assets/images/slider/01_home_01.png">
                        <span class="shape shape-11 layery" data-speed="2">
                            <img src="~/3/assets/images/slider/shape-11.png" alt="Shape">
                        </span>
                        <span class="shape shape-seven">
                            <img src="~/3/assets/images/slider/circle-three.png" alt="Shape">
                        </span>
                        <span class="shape shape-12 layer" data-speed="2">
                            <img src="~/3/assets/images/slider/shape-5.png" alt="Shape">
                        </span>
                        <span class="shape shape-13">
                            <img src="~/3/assets/images/slider/circle-six.png" alt="Shape">
                        </span>
                        <div class="shape shape-14">
                            <img src="~/3/assets/images/slider/shape-12.png" alt="Shape">
                        </div>
                        <div class="shape shape-15">
                            <img src="~/3/assets/images/slider/shape-13.png" alt="Shape">
                        </div>
                        <div class="shape shape-16">
                            <img src="~/3/assets/images/slider/shape-14.png" alt="Shape">
                        </div>
                        <div class="shape shape-17">
                            <img src="~/3/assets/images/slider/shape-15.png" alt="Shape">
                        </div>
                        <div class="shape shape-18">
                            <img src="~/3/assets/images/slider/shape-16.png" alt="Shape">
                        </div>
                        <div class="slider-content-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-5 align-self-center">
                                        <div class="slider-content">
                                            <span class="subtitle">@item.Title</span>
                                            <h2 class="title">@item.Descriprion1</h2>
                                            <p class="text">@item.Descriprion2</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-7">
                                        <div class="slider-image h-100">
                                            <div class="slider-image-three js-tilt">
                                                <img src="~/3/assets/images/slider/img-three.png" alt="Slider Image">
                                            </div>
                                            <span class="shape shape-circle-two">
                                                <img src="~/3/assets/images/slider/circle-four.png" alt="Shape">
                                            </span>
                                            <div class="shape shape-circle-three">
                                                <img src="~/3/assets/images/slider/circle-five.png" alt="Shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-pagination sliderone-pagination"></div>
    </div>
</div>
<!-- Slider Section Start -->
<!-- Solution Section Start -->
@await Component.InvokeAsync("ThreeStepsManiPage")
<!-- Solution Section End -->
<!-- Service Section Start -->
@await Component.InvokeAsync("OurServiceMain")
<!-- Service Section End -->
<!-- Funfact Section Start -->
@await Component.InvokeAsync("DoneAllProjects")

<!-- Funfact Section End -->
<br />
<!-- Portfolio Section Start -->
@await Component.InvokeAsync("OurProjectMain")
<!-- Portfolio Section End -->

<!-- Testimonial Three Section Start -->
@await Component.InvokeAsync("CustomerRaitingMain")
<!-- Testimonial Three Section End -->



<!-- Blog Three Start -->
@await Component.InvokeAsync("ArticlesMain")
<!-- Blog Three End -->
