<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HTML5 - Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/3/assets/images/favicon.png">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="~/3/assets/css/vendor/bootstrap.min.css">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="~/3/assets/css/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="~/3/assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/3/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="~/3/assets/css/plugins/odometer-theme-default.min.css">
    <link rel="stylesheet" href="~/3/assets/css/plugins/fancybox.min.css">
    <link rel="stylesheet" href="~/3/assets/css/plugins/magnific-pupup.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/3/assets/css/style.css">
</head>

<body>
    <header class="header-wrapper sticky-header">
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="flex-center justify-content-between">
                            <!-- Header Logo Start -->
                            <div class="logo">
                                <a href="index.html">
                                    <img src="~/3/assets/images/logo.png" alt="">
                                </a>
                            </div>
                            <!-- Header Logo End -->

                            <div class="flex-center header-right">
                                <!-- Header Menu Start -->
                                <div class="d-none d-lg-flex header-right_menu">
                                    <nav class="main-menu">
                                        <ul>
                                            <li class="has-children">
                                                <a href="/">Ana Sayfa</a>
                                               
                                            </li>
                                            <li><a href="~/Main/Hakkimizda">Hakkimizda</a></li>
                                            <li class="has-children">
                                                <a href="~/Main/Hizmetler">Hizmetler</a>
                                            </li>
                                            <li class="has-children">
                                                <a href="~/Main/Projeler">Projler</a>
                                            </li>
                                            <li class="has-children">
                                                <a href="~/Main/Takim">Takımımız</a>
                                            </li>
                                            <li class="has-children">
                                                <a href="~/Main/Yazilar">Makaleler</a>
                                            </li>
                                            <li><a href="~/Main/iletisim">İletişim</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header Menu End -->
                                <!-- Header Actions Start -->
                                <div class="header-right_actions flex-center">
                                    <div class="header-right_call">
                                        <div class="icon btn btn-style-one">
                                            <span><i class="fas fa-phone-alt"></i></span>
                                        </div>
                                        <div class="call-meta">
                                            <span class="call-meta_text">Bizi Arayın</span>
                                            <a href="tel:01234567889" class="call-meta_number">+0123 456 789</a>
                                        </div>
                                    </div>

                                    <div class="hamburger d-block d-lg-none">
                                        <!-- Mobile Menu Hambarger Action Button Start -->
                                        <a class="header-action-btn header-action-btn-menu hamburger_button d-flex" href="#/" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-header">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </a>
                                        <!-- Mobile Menu Hambarger Action Button End -->
                                    </div>

                                </div>
                                <!-- Header Social Actions End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="offcanvas offcanvas-end" id="offcanvas-header">

        <div class="offcanvas-header">
            <!-- Header Logo Start -->
            <div class="logo">
                <a href="index.html">
                    <img src="~/3/assets/images/logo.png" alt="">
                </a>
            </div>
            <!-- Header Logo End -->
            <button type="button" class="btn-close text-reset mobilemenu-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="offcanvas-body">
            <!-- mobile menu navigation start -->
            <nav>
                <ul class="mobile-menu">
                    <li class="menu-item-has-children">
                        <a href="/">Ana Sayfa</a>
                    </li>
                    <li><a href="~/Main/Hakkimizda">Hakkimizda</a></li>
                    <li class="menu-item-has-children">
                        <a href="~/Main/Hizmetler">Hizmetler</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="~/Main/Projeler">Projeler</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="~/Main/Takim">Takım</a>
                    </li>
                    <li class="menu-item-has-children ">
                        <a href="~/Main/Yazilar">Yazılar</a>
                    </li>
                    <li><a href="~/Main/iletisim">İletişim </a></li>
                </ul>
            </nav>
            <!-- mobile menu navigation end -->
        </div>

    </div>
    @RenderBody()

    <!-- Footer Style Three Start -->
    <footer class="footer-wrapper-three mt-0">
        <div class="container">
            <div class="row mb-n30">

                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <div class="footer-widget negative-margin">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/3/assets/images/logowhite.png" alt="">
                            </a>
                        </div>
                        <ul class="footer-widget-list-icon">
                            <li><i class="fas fa-map-marker-alt"></i> <span> 20 Bordeshi, Amin Bazar <br> Savar, Dhaka 1348</span></li>
                            <li><i class="fas fa-envelope"></i> <span>hello@egens.com</span> </li>
                            <li><i class="fas fa-phone"></i><span>+123 456 7890</span> </li>
                        </ul>
                        <ul class="social-icon d-flex flex-start">
                            <li>
                                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget End -->
                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30 d-flex justify-content-lg-center justify-content-sm-end wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <div class="footer-widget">
                        <h5 class="footer-widget-title">Service</h5>
                        <ul class="footer-widget-list">
                            <li><a href="about.html">Web Design</a></li>
                            <li><a href="about.html">Development</a></li>
                            <li><a href="about.html">Digital Marketing</a></li>
                            <li><a href="about.html">Graphic Design</a></li>
                            <li><a href="about.html">Photogaphy</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget End -->
                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-4 col-sm-5 col-12 mb-30 d-flex justify-content-lg-center justify-content-md-end wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <div class="footer-widget">
                        <h5 class="footer-widget-title">Hızlı Erişim</h5>
                        <ul class="footer-widget-list">
                            <li><a href="~/Main/Hakkimizda">Hakkimizda</a></li>
                            <li><a href="~/Main/Hizmetler">Hizmetler</a></li>
                            <li><a href="~/Main/Takim">Takım</a></li>
                            <li><a href="~/Main/iletisim">İletişim</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget End -->
                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-6 col-sm-7 col-12 mb-30 d-flex justify-content-sm-end wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <div class="footer-widget">
                        <h5 class="footer-widget-title">Recent Posts</h5>
                        <ul class="sidebar-blog">
                            <li>
                                <a href="blog-details.html" class="image"><img src="~/3/assets/images/blog/blog-post-4.png" alt="Blog Post"></a>
                                <div class="content">
                                    <span class="subtitle">Web Design</span>
                                    <a class="title" href="blog-details.html">When the musics over turn off the light</a>
                                    <span class="date">25 Feb 2022</span>
                                </div>
                            </li>
                            <li>
                                <a href="blog-details.html" class="image"><img src="~/3/assets/images/blog/blog-post-5.png" alt="Blog Post"></a>
                                <div class="content">
                                    <span class="subtitle">Web Design</span>
                                    <a class="title" href="blog-details.html">Niche Blogs for Rising Metal Bands</a>
                                    <span class="date">24 Jun 2022</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget End -->

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="copyright wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                        <p class="order-md-1 order-2">Designed with love by <span>Jewel Khan</span> © 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Style Three End -->
    <!-- Scroll Top Start -->
    <a href="#" class="scroll-top show" id="scroll-top">
        <i class="arrow-top fas fa-angle-double-up"></i>
        <i class="arrow-bottom fas fa-angle-double-up"></i>
    </a>
    <!-- Scroll Top End -->
    <!-- JS Vendor, Plugins & Activation Script Files -->
    <!-- Vendors JS -->
    <script src="~/3/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="~/3/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/3/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/3/assets/js/vendor/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="~/3/assets/js/plugins/magnificpopup.min.js"></script>
    <script src="~/3/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/3/assets/js/plugins/tilt.jquery.min.js"></script>
    <script src="~/3/assets/js/plugins/odometer.min.js"></script>
    <script src="~/3/assets/js/plugins/isotope.min.js"></script>
    <script src="~/3/assets/js/plugins/imagesloaded.min.js"></script>
    <script src="~/3/assets/js/plugins/waypoint.min.js"></script>
    <script src="~/3/assets/js/plugins/wow.min.js"></script>
    <script src="~/3/assets/js/plugins/fancybox.min.js"></script>
    <script src="~/3/assets/js/plugins/jquery.ajaxchimp.min.js"></script>

    <!-- Activation JS -->
    <script src="~/3/assets/js/main.js"></script>
    <script src="~/3/assets/js/pages/home.js"></script>

</body>

</html>